{% extends "home/base.html" %}

{% block body-content %}
<div class="body-content server-content-background">
	<h1 class="text-xs-center">Modpacks</h1>
	&nbsp;
	<div class="animated fadeInUp">
	    {% for modpack in modpacks %}
	    <div class="card container" id="{{ modpack.slug }}">
			<div class="card-block">
				<h3 class="form-label text-xs-center">{{ modpack.modpack_name }}</h3>
				{% if modpack.desc %}
				<h6 class="card-subtitle text-muted">{{ modpack.desc }}</h6>
				{% endif %}
			</div>
			{% if modpack.image %}
		        <img class="img-fluid hidden-xs-down" src="{{ modpack.image.url }}">
		    	{% endif %}
		    	<div class="card-block">
			        <table class="table table-hover table-sm">
			        <thead>
			        <tr>
			            <th>Mod</th>
			            <th>Author</th>
			            <th>Version</th>
			        </tr>
			        </thead>
			        <tbody>
			        {% for mod in modpack.mods.all %}
			        <tr>
			            <td>
			            	{% if mod.url %}
			            	<a href="{{ mod.url }}">
			            	{% endif %}
			            	{{ mod.mod_name }}
			            	{% if mod.url %}
			            	</a>
			            	{% endif %}
			            </td>
			            <td>{{ mod.author }}</td>
			            <td>{{ mod.version }}</td>
			        </tr>
				    {% endfor %}
			        </tbody>
			    </table>
		    </div>
	    </div>
	    &nbsp;
	    {% endfor %}
</div>

{% endblock %}
