{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Minecrunch Network{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static "/home/css/site.css" %}">
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
					{% comment %}<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					{% endcomment %}
					<a class="navbar-brand navbar-image"
						href="{% url "home:index" %}">Minecrunch</a>
                </div>
                <nav role="navigation">
                    <ul class="nav navbar-nav">
						<li>
							<a class="navbar-image navbar-modpacks"
								href="{% url "modpacks:index" %}">Modpacks</a>
						</li>
                        <li>
							<a class="navbar-image navbar-servers"
							   href="#{#% url "home:index" %#}">Servers</a>
						</li>
                        <li>
							<a class="navbar-image navbar-whitelist"
								href="{% url "whitelist:index" %}">Join</a>
						</li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="container body-content">
            {% block body-content %}
            {% endblock %}
        </main>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{% static "/home/js/site.js" %} "></script>
    </body>
</html>
