{% extends "home/base.html" %} 
{% load static %}

{% block body-content %}
<div class="parallax home-content-background" id="home-content">
	<div class="animated fadeInUp">
		<div class="container">
			<h1 class="text-xs-center">MINECRUNCH.NET</h1>
			<h3 class="faded text-xs-center">Welcome to the madness</h3>
			&nbsp;
			<div class="embed-responsive embed-responsive-16by9">
				<video autoplay="true" loop="true" class="main-video">
					<source src="{% static "home/video/minecrunchintro_nosound.mp4" %}"
						type="video/mp4">
				</video>
				<img src="{% static "home/images/laptop_frame.png" %}" 
					class="main-video-frame">
			</div>
		</div>
	</div>
	<a href="#youtube-content" class="arrow bounce"></a>
</div>
{% endblock %}


{% block youtube-content %}
<div class="parallax youtube-content-background" id="youtube-content">
	<h1 class="text-xs-center">YOUTUBE SERIES</h1>
	<h3 class="text-xs-center">
		Check out our
		<a href="https://www.youtube.com/channel/UCKUG5WESXj45TRNzMtVLVaA">channel!</a>
	</h3>
	&nbsp;
	<div class="container">
		<!-- Video 1 card -->
		<div class="col-md-6">
			<div class="card text-xs-center">
				<!-- Image -->
				<div class="view overlay hm-white-slight">
					<img class="img-fluid" src="static/home/images/skyblocks.jpg"
							alt="Youtube Skyblocks Playlist">
					<a href="https://www.youtube.com/playlist?list=PLq2q_PEAofjnR4sEIXsVYniWQfv2xSStz">
						<div class="mask">
							<div class="fa fa-youtube-play"></div>
						</div>
					</a>
				</div>
				
				<!-- Content -->
				<div class="card-block">
					<h2 class="card-title">Skybock Redux</h2>
					<h6 class="card-subtitle text-muted hidden-sm-down">Will they survive?</h6>
					&nbsp;
					<p class="card-text">Follow our heros through the many perils
						that face them on the latest skyblocks map.</p>
				</div>
			</div>
		</div>
		
		<!-- Video 2 card -->
		<div class="col-md-6 hidden-sm-down">
			<div class="card text-xs-center">
				<!-- Image -->
				<div class="view overlay hm-white-slight">
					<img class="img-fluid" src="static/home/images/buffoonery.jpg"
							alt="Youtube Buffoonery Playlist">
					<a href="https://www.youtube.com/playlist?list=PLq2q_PEAofjlTLCWDLr3rFmENCgaU3ZBW">
						<div class="mask">
							<div class="fa fa-youtube-play"></div>
						</div>
					</a>
				</div>
				
				<!-- Content -->
				<div class="card-block">
					<h2 class="card-title">Buffoonery</h2>
					<h6 class="card-subtitle text-muted hidden-sm-down">What did he just say?</h6>
					&nbsp;
					<p class="card-text">Try not to laugh as the Minecrunch team
					makes complete asses of themselves. Viewer Discretion is advised.</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#server-content" class="arrow bounce"></a>
</div>
{% endblock %} 


{% block server-content %}
<div class="parallax server-content-background" id="server-content">
	<h1 class="text-xs-center">MODDED MINECRAFT</h1>
	&nbsp;
	<div class="container">
		<div class="col-md-6">
			<div class="card text-xs-center hidden-sm-down">
				<!-- Image -->
				<div class="view overlay hm-white-slight">
					<img class="img-fluid" src="static/home/images/medieval.png"
							alt="Medieval Modpack Image">
					<a href="/modpacks/medieval">
						<div class="mask"></div>
					</a>
				</div>
				
				<!-- Content -->
				<div class="card-block">
					<h2 class="card-title">Medieval</h2>
					<h6 class="card-subtitle text-muted">Minecraft 1.7.10</h6>
					&nbsp;
					<p class="card-text">Play some of the best mods from Minecraft
					1.7.10. Caution: Highly Addictive!</p>
				</div>
				<a class="btn btn-default" href="/modpacks/medieval">Learn more</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card text-xs-center">
				<!-- Image -->
				<div class="view overlay hm-white-slight">
					<img class="img-fluid" src="static/home/images/cyberpunk.png"
					alt="Medieval Modpack Image">
					<a href="/modpacks/cyberpunk">
						<div class="mask"></div>
					</a>
				</div>
				
				<!-- Content -->
				<div class="card-block">
					<h2 class="card-title">Cyberpunk</h2>
					<h6 class="card-subtitle text-muted">Minecraft 1.10.2</h6>
					&nbsp;
					<p class="card-text">Our bleeding edge modpack featuring the
					best tech mods available for Minecraft 1.10.2</p>
				</div>
				<a class="btn btn-default" href="/modpacks/cyberpunk">Learn more</a>
			</div>
		</div>
	</div>
	<div class="container">
		<a class="btn btn-lg btn-primary btn-block" href="#">Get the Installer</a>
		<a class="btn btn-lg btn-secondary btn-block" href="/modpacks">View All Modpacks</a>
	</div>
</div>
{% endblock %} 
{% block footer-content %}
<footer class="page-footer center-on-small-only">
	<div class="container-fluid">
		<div class="col-xs-8 offset-xs-2">
			&nbsp;
			<h3>Who is MINECRUNCH?</h3>
			<p>MINECRUNCH started out as a couple of friends playing a little
				bit of Minecraft. It has since morphed into so much more, from our
				early beginnings of running a Tekkit server, to a FTB server, to
				doing a SkyBlocks and Galacticraft videos.</p>
			<p>We know Minecraft, and now we are pleased to start doing
				Modpacks. We currently have a Medieval Minecrunch Modpack. Go to our
				download section and get it, it is easy to install, just a click of
				a button.</p>
			<div class="hidden-xs-down cube">
				<div class="cubespinner">
					<div class="face1">
						<img src="https://minotar.net/avatar/Otto_Presser/240.png">
						<label class="float-sm-right">Otto_Presser</label>
					</div>
					<div class="face2">
						<img src="https://minotar.net/avatar/jonpro03/240.png">
						<label class="float-sm-right">Jonpro03</label>
					</div>
					<div class="face3">
						<img src="https://minotar.net/avatar/lo_windigo/240.png">
						<label class="float-sm-right">LO_Windigo</label>
					</div>
					<div class="face4">
						<img src="https://minotar.net/avatar/linuxchiq/240.png">
						<label class="float-sm-right">Linuxchiq</label>
					</div>
					<div class="face5">
						<img src="https://minotar.net/avatar/saliktor/240.png">
						<label class="float-sm-right">Saliktor</label>
					</div>
					<div class="face6">
						<img src="https://minotar.net/avatar/21kai21/240.png">
						<label class="float-sm-right">21Kai21</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container-fluid">
			2017 Copyright:
			<a href="http://minecrunch.net"> MINECRUNCH </a>
		</div>
	</div>
</footer>
{% endblock %}
