@{
    ViewData["Title"] = "About";
}
<div class="col-md-6">    
    <div class="form-group">
        <div class="form-label">
            <label>SECTION LABEL</label>
        </div>
        <div class="well">
            <h2>@ViewData["Title"].</h2>
            <h3>@ViewData["Message"]</h3>

            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</div>