@{
    ViewData["Title"] = "Modpacks";
}
<div class="row well-lg">
    <label>MODPACKS</label>  
    <div class="form-label">Medieval Minecrunch</div>
    <div class="form-content">
        <img src="~/images/medieval.jpg"/>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Mod</th>
            <th>Author</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>        
        <tr>
            <td>Not Enough Items</td>
            <td>Chicken Bones</td>
            <td>1.0.3.74</td>
        </tr>
        
        <tr>
            <td>Mine & Blade Battlegear 2</td>
            <td>Bullseye</td>
            <td>1.0.9.0</td>
        </tr>
        <tr>
            <td>Ancient Warefare</td>
            <td>SomeDude</td>
            <td>1.2.3.4</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<!--
    Not Enough Items
Mine & Blade Battlegear 2
Ancient Warefare
Archimedes' Ships
Blood Magic
Blood Arsenal
Tinkers' Contruct
Tinkers' Defense
Doggy Style
Enchanting Plus
ExtraBiomesXL
Natura
Pam's Harvestcraft
Balkon's Weapon Mod
Xaero's Minimap
Damage Indicator
Inventory Tweaks
Mouse Tweak
-->