{% extends "home/base.html" %}

{% block body-content %}


<p>
</p>
<form method="post">
	<div class="card card-dark">
		<h1 class="card-title">Whitelist Request</h1>
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="md-form">
		<label for="id_ign">{{ form.ign.label }}</label>
		{{ form.ign.errors }}
		{{ form.ign }}
	</div>
	<div class="md-form">
		<label for="id_email">{{ form.email.label }}</label>
		{{ form.email.errors }}
		{{ form.email }}
	</div>
	<div class="form-group">
		<a class="btn btn-info" type="submit">Submit Request</a>
	</div>
	</div>
</form>

{% endblock %}