@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register"><img class="menu-button" src="~/images/register.png" onmouseover="this.src='/images/register_highlight.png'" onmouseout="this.src='/images/register.png'" /></a></li>
        <li><a asp-controller="Account" asp-action="Login"><img class="menu-button" src="~/images/login.png" onmouseover="this.src='/images/login_highlight.png'" onmouseout="this.src='/images/login.png'" /></a></li>
    </ul>
}
