{% extends "home/base.html" %}

{% block body-content %}

<div class="body-content">
    <h1>{{ server.name }}</h1>
	<ul class="list-group">
		<li>
			<strong>Modpack:</strong> <a href="{% url "modpacks:modpack"
			server.modpack.slug %}">{{ server.modpack }}</a>
		</li>
		{% if server.address %}
		<li><strong>Address:</strong> {{ server.address }}</li>
		{% endif %}
		{% if server.dynmap %}
		<li>
			<strong>Dynmap:</strong><a href="{{ server.dynmap }}">
			{{ server.dynmap }}</a>
		</li>
		{% endif %}
	</ul>
	<p class="well">
		{{ server.desc }}
	</p>
	{% if server.screenshot %}
	<p>
		<img src="{{ server.screenshot.url }}" alt=
		"A screenshot of the {{ server.name }} server">
	</p>
	{% endif %}
</div>

{% endblock %}
